body {
     font-family: 'Courier New', Courier, monospace;
     margin: 20px;
}

h1 {
    text-align: center;
    font-size: 30px;
}

h1, h2, h3 {
    color: blue;
}
.foto {
    width: 150px;
    height: auto;
    border-radius: 15px;
}
ul, ol {
    margin-left: 20px;
}
.seccio {
    margin-bottom: 20px;
}
